*{margin: 0;}
.index-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #fff;
    font: 1.5em sans-serif;
    flex-direction: column;
    justify-content: center;
    background: rgb(233, 233, 233) url(https://wallpaperaccess.com/full/1177739.jpg) no-repeat center center/cover;
}

.links-cont{
    margin-top: 2rem;
    border-radius: 10px;
    height: 30rem;
    color: #fff;
    width: 27rem;
    box-shadow: 10px 10px 21px -5px rgba(59, 59, 59, 0.979);
    background: rgb(233, 233, 233) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOmyQWfHPGF1fW0gEWIM92FskCgmqE5e0Dwg&usqp=CAU) no-repeat center center/cover;
}
.links-cont a{
    text-decoration: none;
    color: #fff;
    font: 1em sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #0E131F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #fff;
    
}
.quiz-card-section{
    height: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-cont{
    height: 30rem;
    width: 25rem;
    margin-right: 4rem;
    background-color: #19212C;
    border-radius: 40px;
}
.card-img{
    height: 60%;
    width: 100%;
}
.card-img img{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}
.card-data{
    height: 40%;
    padding: 1.5rem;
}
.quiz-heading{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    line-height: 30px;
    color: #fff;
}
.quiz-details{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-top: 1rem;
    color: rgb(95, 93, 93);
}


















